<div class="inner-banner inner-bg2" [@fade]="'active'">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Contact Us</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="contact-info">
                    <span>Contact Info</span>
                    <h2>Let's Connect With Us</h2>
                    <p>Balance Dyte is the place for everything health related.</p>
                    <ul>
                        <li>
                            <div class="content">
                                <i class='bx bx-phone-call'></i>
                                <h3>Phone Number</h3>
                                <a href="tel:+8245678924">+8245678924</a>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <i class='bx bxl-instagram'></i>
                                <h3>Instagram</h3>
                                <span><a
                                        href="https://www.instagram.com/balancedyte/"
                                        target="_blank">
                                        Balance Dyte Instagram profile
                                    </a></span>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <i class='bx bx-message'></i>
                                <h3>Contact Info</h3>
                                <a
                                    href="mailto:balancedyte@gmail.com">balancedyte@gmail.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact-form">
                    <h3>Contact With Us!</h3>
                    <form id="contactForm" [formGroup]="contactForm"
                        (ngSubmit)="submitContactForm(contactForm)">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="(f['fullName'].invalid &&
                                    ((f['fullName'].dirty ||
                                    f['fullName'].touched))) ||
                                    (f['fullName'].hasError('required') &&
                                    submitted) ? 'has-error':''">
                                    <input type="text"
                                        formControlName="fullName" id="name"
                                        class="form-control" required
                                        data-error="Please Enter Your Name"
                                        placeholder="Name*">
                                    <div class="error-msg"
                                        *ngIf="(f['fullName'].hasError('required')
                                        && f['fullName'].touched) ||
                                        (f['fullName'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter your name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="(f['email'].invalid &&
                                    ((f['email'].dirty ||
                                    f['email'].touched))) ||
                                    (f['email'].hasError('required') &&
                                    submitted) ? 'has-error':''">
                                    <input type="email" formControlName="email"
                                        id="email"
                                        class="form-control" required
                                        data-error="Please Enter Your Email"
                                        placeholder="Email*">
                                    <div class="error-msg"
                                        *ngIf="(f['email'].hasError('required')
                                        && f['email'].touched) ||
                                        (f['email'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter email address.
                                    </div>
                                    <div class="error-msg"
                                        *ngIf="(f['email'].hasError('pattern')
                                        && f['email'].touched) ||
                                        (f['email'].hasError('pattern') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter a valid email address.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"
                                    [ngClass]="(f['phone'].invalid &&
                                    ((f['phone'].dirty ||
                                    f['phone'].touched))) ||
                                    (f['phone'].hasError('required') &&
                                    submitted) ? 'has-error':''">
                                    <input type="text" formControlName="phone"
                                        id="phone_number" required
                                        data-error="Please Enter Your number"
                                        class="form-control"
                                        placeholder="Phone Number*">
                                    <div class="error-msg"
                                        *ngIf="(f['phone'].hasError('required')
                                        && f['phone'].touched) ||
                                        (f['phone'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter your phone number.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"
                                [ngClass]="(f['subject'].hasError('required') &&
                                    ((f['subject'].dirty ||
                                    f['subject'].touched))) ||
                                    ((f['subject'].hasError('minlength') &&
                                    ((f['subject'].dirty &&
                                    f['subject'].touched)))) ||
                                    ((f['subject'].invalid &&
                                    submitted)) ? 'has-error':''">
                                    <input type="text" formControlName="subject"
                                        id="msg_subject" class="form-control"
                                        required data-error="Please Enter Your
                                        Subject" placeholder="Your Subject*">
                                        <div class="error-msg"
                                        *ngIf="(f['subject'].hasError('required')
                                        && f['subject'].touched) ||
                                        (f['subject'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter subject of your message.
                                    </div>
                                        <div class="error-msg"
                                        *ngIf="(f['subject'].hasError('minlength')
                                        && f['subject'].touched) ||
                                        (f['subject'].hasError('minlength') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Minimum 4 characters required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group"
                                [ngClass]="(f['message'].hasError('required') &&
                                    ((f['message'].dirty ||
                                    f['message'].touched))) ||
                                    ((f['message'].hasError('minlength') &&
                                    ((f['message'].dirty &&
                                    f['message'].touched)))) ||
                                    ((f['message'].invalid &&
                                    submitted)) ? 'has-error':''">
                                    <textarea formControlName="message"
                                        class="form-control" id="message"
                                        cols="30" rows="5"
                                        data-error="Write your message"
                                        placeholder="Your Message*"></textarea>
                                        <div class="error-msg"
                                        *ngIf="(f['message'].hasError('required')
                                        && f['message'].touched) ||
                                        (f['message'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter your message.
                                    </div>
                                        <div class="error-msg"
                                        *ngIf="(f['message'].hasError('minlength')
                                        && f['message'].touched) ||
                                        (f['message'].hasError('minlength') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Minimum 6 characters required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">
                                        Accept <a routerLink="/terms-conditions"
                                            (click)="scrollTop()">Terms &
                                            Conditions</a> And <a
                                            routerLink="/privacy-policy"
                                            (click)="scrollTop()">Privacy
                                            Policy.</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">
                                    Send Message
                                </button>
                                <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
