/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.error-msg {
    color: red;
}

.form-group.has-error input {
    background: rgba(255,64,64,.2);
    border: 1px solid #FF4040;
}