<div class="inner-banner inner-bg13">
    <div class="container">

        <div class="inner-title text-center">
            <h3>My Orders</h3>
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>My orders</li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="col-lg-6">
    <div class="faq-accordion">
        <ul class="accordion">
            <app-accordion>
                <app-accordion-item title="
                    01. How Do You Maintain Your Diet
                    Routine Regularly?">

                        <p>
                            Lorem ipsum dolor sit amet,
                            consetetur sadipscing elitr, sed
                            diam nonumy eirmod, orem ipsum dolor
                            sit amet, consetetur sadipscing
                            elitr, sed diam
                            Lorem ipsum dolor sit amet,
                            consetetur sadipscing elitr.
                        </p>
                </app-accordion-item>
            </app-accordion>
        </ul>
    </div>
</div> -->

<section class="cart-wraps-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <div class="cart-wraps">
                        <div class="cart-table table-responsive">
                            <h3  *ngIf="orders.length<1">You havn't placed any order yet! <a routerLink="/diet-plans" style="margin-left: 4px;" (click)="scrollTop()">  Place an order</a></h3>
                            <table class="table table-bordered" *ngIf="orders.length>=1">
                                <thead>
                                    <tr>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Plan Name</th>
                                        <th scope="col">Plan Duration</th>
                                        <th scope="col">Total</th>
                                        <!-- <th scope="col">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody *ngFor="let order of orders">
                                    <tr class="order-row">
                                        <td class="product-thumbnail">
                                            <span class="unit-amount">
                                                {{ order.razorPayOrderId }}
                                                <!-- <img
                                                    src="assets/images/product-img/product-img4.png"
                                                    alt="Image"> -->
                                                </span>
                                        </td>
                                        <td class="product-name">
                                            <span class="unit-amount">{{ order.createdAt.slice(0,10) }}</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">{{ order['planDetails']['paymentStatus'] }}</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">{{ order['planDetails']['planName'] }}</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">{{ order['planDetails']['planDuration'] }}</span>
                                        </td>
                                        <td class="product-quantity">
                                            <span class="unit-amount">{{ order['planDetails']['payableTotal'] | currency:order['planDetails']['currency']:"symbol":'2.0' }}</span>
                                        </td>
                                        <!-- <td class="product-subtotal">
                                            <a
                                                class="subtotal-amount view-details" [routerLink]="['view-order', order['_id']]" (click)="onNavigate(order['_id'])">View Details</a>
                                            <a
                                                class="remove">
                                                <i class='bx
                                                    bx-x-circle'></i>
                                            </a>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="cart-buttons">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <div class="continue-shopping-box">
                                        <a href="shop.html"
                                            class="default-btn">
                                            Continue Shopping
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-5 col-md-5
                                    text-end">
                                    <a class="
                                        default-btn">
                                        Update Cart
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
            <!-- <div class="col-lg-4" *ngIf="orders.length>=1">
                <div class="cart-totals">
                    <h3>Orders Summary</h3>
                    <ul>
                        <li>Total Duration <span>{{ getTotalOfOrders().totalDuration }} Months</span></li>
                        <li>Total Amount<span><b>{{ getTotalOfOrders().totalAmount | currency:"INR":"symbol":'2.0' }}</b></span></li>
                    </ul>
                    <a class="default-btn
                        border-radius-5">
                        Proceed to checkout
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</section>

<app-spinner *ngIf="isLoading"></app-spinner>
<ng-progress></ng-progress>

<router-outlet></router-outlet>