<div class="diet-plan-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Nutritious foods</span>
            <h2>Discover the most Nutritious foods</h2>
        </div>
        <div class="tab diet-tab pt-45">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="tabs">
                        <li>
                            Fish
                        </li>
                        <li>
                            Broccoli
                        </li>
                        <li>
                            Beets
                        </li>
                        <li>
                            Peanut butter
                        </li>
                        <li>
                            Almonds
                        </li>
                        <li>
                            Legumes
                        </li>
                        <li>
                            Blueberries
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="tab_content current active pt-45">
                        <div class="tabs_item current">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a >
                                                <img src="assets/images/nutrition-foods/fish.jpg" alt="fish">
                                            </a>
                                            <div class="tag">
                                                <a >Fish</a>
                                            </div>
                                        </div>
                                        <!-- <h3><a >Quick and Easy Healthy Breakfast Ideas</a></h3> -->
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a >
                                                <img src="assets/images/nutrition-foods/brocolli.jpg" alt="Images">
                                            </a>
                                            <div class="tag">
                                                <a >Broccoli</a>
                                            </div>
                                        </div>
                                        <!-- <h3><a >Delicious Spicy Thai Crab Recipe</a></h3> -->
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a >
                                                <img src="assets/images/nutrition-foods/beets.jpg" alt="Beets">
                                            </a>
                                            <div class="tag">
                                                <a >Beets</a>
                                            </div>
                                        </div>
                                        <!-- <h3><a >Avocado Toast with Spinach and Poach Egg</a></h3> -->
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="diet-plan-card">
                                        <div class="diet-plan-img">
                                            <a >
                                                <img src="assets/images/nutrition-foods/almonds.jpg" alt="Almonds">
                                            </a>
                                            <div class="tag">
                                                <a >Almonds</a>
                                            </div>
                                        </div>
                                        <!-- <h3><a >Avocado with Lemonade Fresh Salad Dish</a></h3> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>