<div class="inner-banner inner-bg5" [@fade]="'active'">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Checkout</h3>
            <ul>
                <li>
                    <a routerLink="">Home</a>
                </li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
</div>


<section class="checkout-area pt-100 pb-70" [@fade]="'active'">
    <div class="container">
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
            <div class="row" id="plan-details">
                <div class="col-lg-8">
                    <div class="checkout-user" *ngIf="!isLoggedIn()">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Returning customer? <a routerLink="/user/login"
                                (click)="scrollTop()">Click here to Log In</a></span>
                    </div>
                    <div class="checkout-user" *ngIf="isLoggedIn()"
                        style="background-color: #72ae44; color: #ffffff">
                        <i class="fas fa-sign-out-alt"></i>
                        <span style="color: #ffffff;">These are default details
                            from your account. You can change these details now
                            before placing order.</span>
                    </div>

                    <div class="billing-details">
                        <h3 class="title">Plan details</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6"
                                *ngIf="!isLoggedIn()">
                                <div class="form-group"
                                    [ngClass]="(f['fullName'].invalid &&
                                    ((f['fullName'].dirty ||
                                    f['fullName'].touched))) ||
                                    (f['fullName'].hasError('required') &&
                                    submitted)?'has-error':''">
                                    <label>Full Name <span class="required">*</span></label>
                                    <input formControlName="fullName"
                                        type="text" class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['fullName'].hasError('required')
                                        && f['fullName'].touched) ||
                                        (f['fullName'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter your name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6"
                                *ngIf="!isLoggedIn()">
                                <div class="form-group"
                                    [ngClass]="(f['email'].invalid &&
                                    ((f['email'].dirty || f['email'].touched)))
                                    || (f['email'].hasError('required') &&
                                    submitted)?'has-error':''">
                                    <label>Email Address <span class="required">*</span></label>
                                    <input formControlName="email" type="email"
                                        class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['email'].hasError('required')
                                        && f['email'].touched) ||
                                        (f['email'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter email address.
                                    </div>
                                    <div class="error-msg"
                                        *ngIf="(f['email'].hasError('pattern')
                                        && f['email'].touched) ||
                                        (f['email'].hasError('pattern') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter a valid email address.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6"
                                *ngIf="!isLoggedIn()">
                                <div class="form-group"
                                    [ngClass]="(f['password'].invalid &&
                                    ((f['password'].dirty ||
                                    f['password'].touched))) ||
                                    (f['password'].hasError('required') &&
                                    submitted)?'has-error':''">
                                    <label>Set Password <span class="required">*</span></label>
                                    <input formControlName="password"
                                        type="password" class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['password'].hasError('required')
                                        && f['password'].touched) ||
                                        (f['password'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter password.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6"
                                *ngIf="!isLoggedIn()">
                                <div class="form-group"
                                    [ngClass]="(f['confirmPassword'].invalid &&
                                    ((f['confirmPassword'].dirty ||
                                    f['confirmPassword'].touched))) ||
                                    (f['confirmPassword'].hasError('required')
                                    &&
                                    submitted)?'has-error':''">
                                    <label>Confirm Password <span
                                            class="required">*</span></label>
                                    <input formControlName="confirmPassword"
                                        type="password" class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['confirmPassword'].hasError('required')
                                        && f['confirmPassword'].touched) ||
                                        (f['confirmPassword'].hasError('required')
                                        &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        confirm password.
                                    </div>
                                    <div class="error-msg"
                                        *ngIf="f['confirmPassword'].hasError('confirmedValidator')
                                        ||
                                        f['password'].hasError('confirmedValidator')">
                                        Passwords do not match
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6"
                                *ngIf="!isLoggedIn()">
                                <div class="form-group"
                                    [ngClass]="(f['phone'].invalid &&
                                    ((f['phone'].dirty ||
                                    f['phone'].touched))) ||
                                    (f['phone'].hasError('required') &&
                                    submitted)?'has-error':''">
                                    <label>Phone <span class="required">*</span></label>
                                    <input formControlName="phone" type="text"
                                        class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['phone'].hasError('required')
                                        && f['phone'].touched) ||
                                        (f['phone'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter your phone number.
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'col-lg-6 col-md-6': !isLoggedIn(),
                                'col-lg-12 col-md-6' : isLoggedIn() }">
                                <div class="form-group"
                                    [ngClass]="(f['goals'].invalid &&
                                    ((f['goals'].dirty ||
                                    f['goals'].touched))) ||
                                    (f['goals'].hasError('required')
                                    &&
                                    submitted)?'has-error':''">
                                    <label>Your Goals <span class="required">*</span></label>
                                    <input formControlName="goals" type="text"
                                        class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['goals'].hasError('required')
                                        && f['goals'].touched) ||
                                        (f['goals'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Please
                                        enter your fitness goals.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group"
                                    [ngClass]="(f['age'].invalid &&
                                    ((f['age'].dirty ||
                                    f['age'].touched))) ||
                                    (f['age'].hasError('required')
                                    &&
                                    submitted)?'has-error':''">
                                    <label>Age (in years) <span
                                            class="required">*</span></label>
                                    <input formControlName="age" type="text"
                                        class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['age'].hasError('required')
                                        && f['age'].touched) ||
                                        (f['age'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Enter
                                        your age in years.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group"
                                    [ngClass]="(f['height'].invalid &&
                                    ((f['height'].dirty ||
                                    f['height'].touched))) ||
                                    (f['height'].hasError('required')
                                    &&
                                    submitted)?'has-error':''">
                                    <label>Height(in feet inches) <span class="required">*</span></label>
                                    <input formControlName="height" type="text"
                                        class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['height'].hasError('required')
                                        && f['height'].touched) ||
                                        (f['height'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Height
                                        in feet inches.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group"
                                    [ngClass]="(f['weight'].invalid &&
                                    ((f['weight'].dirty ||
                                    f['weight'].touched))) ||
                                    (f['weight'].hasError('required')
                                    &&
                                    submitted)?'has-error':''">
                                    <label>Weight(in kg(s)) <span class="required">*</span></label>
                                    <input formControlName="weight" type="text"
                                        class="form-control">
                                    <div class="error-msg"
                                        *ngIf="(f['weight'].hasError('required')
                                        && f['weight'].touched) ||
                                        (f['weight'].hasError('required') &&
                                        submitted)">
                                        <i aria-hidden="true" class="fa
                                            fa-exclamation-triangle"></i> Enter
                                        weight in Kg(s).
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6" [ngClass]="(f['goingGym'].invalid &&
                            ((f['goingGym'].dirty ||
                            f['goingGym'].touched))) ||
                            (f['goingGym'].hasError('required')
                            &&
                            submitted)?'m-top':''">
                                <div class="form-group radio-group"
                                    [ngClass]="(f['gender'].invalid &&
                                    ((f['gender'].dirty ||
                                    f['gender'].touched))) ||
                                    (f['gender'].hasError('required')
                                    &&
                                    submitted)?'has-error m-top':''">
                                    <label>Gender <span class="required">*</span></label>
                                    <div class="payment-box"
                                        style="margin-bottom: 10px;">
                                        <div class="payment-method">
                                            <p style="margin-bottom: 0;"
                                                class="radio-group">
                                                <input type="radio"
                                                    id="male" value="Male"
                                                    formControlName="gender">
                                                <label
                                                    for="male">Male</label>
                                                <input type="radio"
                                                    id="female" value="Female"
                                                    formControlName="gender">
                                                <label
                                                    for="female">Female</label>
                                            </p>
                                            <span style="margin-bottom: 10px;"
                                                class="error-msg"
                                                *ngIf="(f['gender'].hasError('required')
                                                && f['gender'].touched) ||
                                                (f['gender'].hasError('required')
                                                &&
                                                submitted)">
                                                <i aria-hidden="true"
                                                    class="fa
                                                    fa-exclamation-triangle"></i>
                                                Please select your gender.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6" [ngClass]="(f['goingGym'].invalid &&
                            ((f['goingGym'].dirty ||
                            f['goingGym'].touched))) ||
                            (f['goingGym'].hasError('required')
                            &&
                            submitted)?'m-top':''">
                                <div class="form-group radio-group"
                                    [ngClass]="(f['loseOrGain'].invalid &&
                                    ((f['loseOrGain'].dirty ||
                                    f['loseOrGain'].touched))) ||
                                    (f['loseOrGain'].hasError('required')
                                    &&
                                    submitted)?'has-error m-top':''">
                                    <label>Lose/Gain <span class="required">*</span></label>
                                    <div class="payment-box">
                                        <div class="payment-method">
                                            <p class="radio-group"
                                                style="margin-bottom: 0;">
                                                <input type="radio"
                                                    id="lose" value="Lose"
                                                    formControlName="loseOrGain">
                                                <label
                                                    for="lose">Lose</label>
                                                <input type="radio"
                                                    id="gain" value="Gain"
                                                    formControlName="loseOrGain">
                                                <label
                                                    for="gain">Gain</label>
                                            </p>
                                            <span style="margin-bottom: 10px"
                                                class="error-msg"
                                                *ngIf="(f['loseOrGain'].hasError('required')
                                                && f['loseOrGain'].touched) ||
                                                (f['loseOrGain'].hasError('required')
                                                &&
                                                submitted)">
                                                <i aria-hidden="true"
                                                    class="fa
                                                    fa-exclamation-triangle"></i>
                                                Select weight goal(Lose/gain).
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6" [ngClass]="(f['goingGym'].invalid &&
                            ((f['goingGym'].dirty ||
                            f['goingGym'].touched))) ||
                            (f['goingGym'].hasError('required')
                            &&
                            submitted)?'m-top':''">
                                <div class="form-group radio-group"
                                    [ngClass]="(f['goingGym'].invalid &&
                                    ((f['goingGym'].dirty ||
                                    f['goingGym'].touched))) ||
                                    (f['goingGym'].hasError('required')
                                    &&
                                    submitted)?'has-error m-top':''">
                                    <label>Going gym? <span class="required">*</span></label>
                                    <div class="payment-box">
                                        <div class="payment-method">
                                            <p style="margin-bottom: 0;" class="radio-group">
                                                <input type="radio"
                                                    id="yes" value="Yes"
                                                    formControlName="goingGym">
                                                <label
                                                    for="yes">Yes</label>
                                                <input type="radio"
                                                    id="no" value="No"
                                                    formControlName="goingGym">
                                                <label
                                                    for="no">No</label>
                                            </p>
                                            <span style="margin-bottom:
                                            10px" class="error-msg"
                                            *ngIf="(f['goingGym'].hasError('required')
                                            && f['goingGym'].touched) ||
                                            (f['goingGym'].hasError('required')
                                            &&
                                            submitted)">
                                            <i aria-hidden="true"
                                                class="fa
                                                fa-exclamation-triangle"></i>
                                            Are you going to gym?(Yes/No).
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6" [ngClass]="(f['goingGym'].invalid &&
                            ((f['goingGym'].dirty ||
                            f['goingGym'].touched))) ||
                            (f['goingGym'].hasError('required')
                            &&
                            submitted)?'m-top':''">
                                <div class="form-group radio-group" 
                                [ngClass]="(f['foodType'].invalid &&
                                    ((f['foodType'].dirty ||
                                    f['foodType'].touched))) ||
                                    (f['foodType'].hasError('required')
                                    &&
                                    submitted)?'has-error m-top':''">
                                    <label>Food Type <span class="required">*</span></label>
                                    <div class="payment-box">
                                        <div class="payment-method">
                                            <p style="margin-bottom: 0;" class="radio-group">
                                                <input type="radio"
                                                    id="veg" value="Veg"
                                                    formControlName="foodType">
                                                <label
                                                    for="veg">Veg</label>
                                                <input type="radio"
                                                    id="non-veg" value="Non-Veg"
                                                    formControlName="foodType">
                                                <label
                                                    for="non-veg">Non-veg</label>
                                                <input type="radio"
                                                    id="just-egg"
                                                    value="Just-egg"
                                                    formControlName="foodType">
                                                <label
                                                    for="just-egg">Just egg</label>
                                            </p>
                                            <span style="margin-bottom:
                                            10px" class="error-msg"
                                            *ngIf="(f['foodType'].hasError('required')
                                            && f['foodType'].touched) ||
                                            (f['foodType'].hasError('required')
                                            &&
                                            submitted)">
                                            <i aria-hidden="true"
                                                class="fa
                                                fa-exclamation-triangle"></i>
                                            Please select your food type.
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Any Medical Issue</label>
                                    <input formControlName="medicalIssue"
                                        type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Any food you are having allergy with?</label>
                                    <input formControlName="foodAllergy"
                                        type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="billing-sildbar pl-20">
                        <div class="payment-box">
                            <div class="payment-method">
                                <h3>Select Plan Duration</h3>
                                <p>
                                    <input type="radio"
                                        id="1" value="1"
                                        formControlName="planDuration">
                                    <label for="1">1 months</label>
                                </p>
                                <p>
                                    <input type="radio"
                                        id="3" value="3"
                                        formControlName="planDuration">
                                    <label for="3">3 months</label>
                                </p>
                                <p>
                                    <input type="radio"
                                        id="6" value="6"
                                        formControlName="planDuration">
                                    <label for="6">6 months</label>
                                </p>
                            </div>


                        </div>
                        <div class="billing-totals">
                            <h3>Checkout Summary</h3>

                            <ul>
                                <li>Plan Price <span>{{
                                        selectedPricingPlan['planPrice'] |
                                        currency:"INR":"symbol":'2.0' }}</span></li>
                                <!-- <li>Shipping <span>$30.00</span></li>
                            <li>Coupon <span>$20.00</span></li>
                            <li>Total <span><b>$160.00</b></span></li> -->
                                <li>Payable Total <span><b>{{
                                            onGetPayableTotal() |
                                            currency:"INR":"symbol":'2.0' }}</b></span></li>
                            </ul>
                            <div class="col-12 success-div-outer" *ngIf="razorPayResMsg">
                                <div class="form-group">
                                    <div class="success-div-inner">
                                        {{razorPayResMsg}}</div>
                                </div>
                            </div>
                            <button class="default-btn" type="submit">
                               {{ !isLoading ? 'Place Order' : 'Placing Order...' }}
                            </button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<app-spinner *ngIf="isLoading"></app-spinner>
<div id="pop-model">
    <app-model [emailInputValue]="emailInputValue"></app-model>
</div>