.success-div-outer {
    margin: auto;
    text-align: center;
}

.success-div-inner {
    margin: auto;
    color: green;
    background: rgb(13 255 21 / 20%);
    border: 1px solid green;
    text-align: center;
    padding: 10px;
}

.radio-group p [type=radio]:not(:checked) {
    display: none;
}

.radio-group p [type=radio]:checked {
    display: none;
}
.radio-group p input{
    display: inline-flex;
    justify-content: space-between;
}

p [type=radio]:checked+label {
    padding-left: 22px;
    padding-right: 8px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    font-weight: 600;
    /* color: var(--titleColor); */
    position: relative;
    margin-bottom: 15px;
}

p [type=radio]:not(:checked)+label {
    padding-left: 22px;
    padding-right: 8px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    font-weight: 300;
    /* color: #172541; */
    position: relative;
    margin-bottom: 15px;
}

p [type=radio]:not(:checked)+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 50%;
    /* background: #fff; */
}

p [type=radio]:not(:checked)+label::after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--greenColor);
    position: absolute;
    top: 6px;
    left: 3px;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
}



.billing-totals .default-btn {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.error-msg {
    color: red;
}

.form-group.has-error input {
    background: rgba(255,64,64,.2);
    border: 1px solid #FF4040;
}

.m-top {
    margin-bottom: 1.6rem;
}
