<footer class="footer-area footer-area-bg">
    <div class="container">
        <div class="footer-top pt-100 pb-70">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a routerLink="" (click)="scrollTop()">
                                <img src="assets/images/logo/balancedyte-logo.png" width="120" alt="Images">
                                <!-- <h3>Balance Dyte</h3> -->
                            </a>
                        </div>
                        <p style="max-width: 400px;">
                            Balance Dyte is the place for everything health related. Our experts make it easy to navigate scientifically proven weight loss, nutrition and wellbeing tips in a supportive environment.
                        </p>
                        <ul class="social-link">
                            <li>
                                <a href="https://www.facebook.com/Balance-Dyte-102017015755323" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                           
                            <li>
                                <a href="https://twitter.com/BalanceDyte" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/balancedyte/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget ps-5">
                        <h3>Useful Links</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/" (click)="scrollTop()">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a routerLink="/about" (click)="scrollTop()">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/diet-plans" >
                                    Diet Plans
                                </a>
                            </li>
                            <li>
                                <a routerLink="/privacy-policy" (click)="scrollTop()">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a routerLink="/terms-conditions" (click)="scrollTop()">
                                    Terms & Condition
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget ps-5">
                        <h3>Information</h3>
                        <ul class="footer-contact">
                            <li>
                                Phone:
                                <span>
                                    <a href="tel:+8245678924">+8245678924</a><br>
                                    <a href="tel:+8245668964">+8245668964</a>
                                </span>
                            </li>
                            <li>
                                Email:
                                <span>
                                    <a href="mailto:balancedyte@gmail.com">balancedyte@gmail.com</a>
                                </span>
                            </li>
                            <li>
                                Follow on <a href="https://www.instagram.com/balancedyte/" target="_blank">
                                    instagram
                                </a> for more!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copy-right-text text-center">
                <p>
                    Copyright @
                    {{ currentYear }} Balance Dyte. Developed by
                    <a href="https://www.younedia.com/" target="_blank">Younedia</a>
                </p>
            </div>
        </div>
    </div>
</footer>