<div class="inner-banner inner-bg11">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Privacy Policy</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>


<div class="privacy-policy-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Privacy Policy</span>
            <h2>Balance Dyte Privacy Policy</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-10">
                <div class="single-content">
                    <h3>Licence</h3>
                    <p>
                        Except if generally expressed, Balance Dyte or
                        potentially
                        its licensors own the protected innovation freedoms for
                        all material on Balance Dyte. All protected innovation
                        freedoms are held. You might get to this from Balance
                        Dyte
                        for your very own utilization exposed to limitations set
                        in these agreements.

                        You should not:
                    </p>
                    <ul>
                        <li>(a).Republish material from Balance Dyte</li>
                        <li>(b).Sell, lease or sub-permit material from Balance
                            Dyte</li>
                        <li>(c).Replicate, copy or duplicate material from
                            Balance Dyte</li>
                        <li>(d).Reallocate content from Balance Dyte</li>
                    </ul>
                </div>
                <div class="single-content">
                    <h3>Privacy Policy</h3>
                    <p>
                        This Privacy Policy portrays Our policies and
                        methodology on the collection, use and revelation of
                        Your data when You utilize the Assistance and tells You
                        about Your privacy rights and how the law safeguards
                        You.

                        We utilize Your Own information to give and work on the
                        Assistance. By utilizing the Service, you consent to the
                        assortment and utilization of data as with this Privacy
                        Policy.
                    </p>
                </div>
                <div class="single-content">
                    <h3>Payment</h3>
                    <p>
                        We use Razorpay for handling payments. Razorpay don't
                        store your card information on their servers. The
                        information is encoded through the Payment Card Industry
                        Data Security Standard (PCI-DSS) while handling payment.
                        Your buy exchange information is just utilized for
                        however long is important to finish your purchase
                        transaction. After that is finished, your purchase
                        transaction data isn't saved.
                    </p>
                    <p>
                        Our payment gateway sticks to the principles set by
                        PCI-DSS as overseen by the PCI Security Standards
                        Council, which is a work of brands working closely
                        together like Visa, MasterCard, American Express and
                        Discover.
                    </p>
                    <p>
                        PCI-DSS necessities assist with guaranteeing the safe
                        treatment of Mastercard data by our store and its
                        specialist organizations.

                        For more knowledge, you may likewise need to understand
                        agreements of razorpay on <a href="https://razorpay.com"
                            target="_blank">Razorpay</a>
                    </p>
                </div>
                <div class="single-content">
                    <h3>Disclaimers</h3>
                    <p>
                        To the greatest degree allowed by relevant regulation,
                        we avoid all portrayals, guarantees and conditions
                        connecting with our site and the utilization of this
                        site. Nothing in this disclaimer will:
                    </p>
                    <ul>
                        <li>limit or exclude our or your responsibility for
                            death or individual injury</li>
                        <li>limit or avoid our or your obligation for extortion
                            or false deception</li>
                        <li>limit any of our or your liabilities in any capacity
                            that isn't allowed under appropriate regulation; or</li>
                        <li>reject any of our or your liabilities that may not
                            be avoided under pertinent regulation</li>
                    </ul>
                </div>
                <div class="single-content">
                    <h3> Third Party Website</h3>
                    <p>
                        This Site may hyperlink to sites not kept up with or
                        connected with Balance Dyte. Hyperlinks are offered as a
                        support to clients and are not supported by or partnered
                        with this Site or Balance Dyte, and Balance Dyte makes
                        no portrayals or guarantees about the substance,
                        fulfillment, or exactness of those outsider
                        destinations. Data you submit at an outsider site open
                        from this Site is dependent upon the details of that
                        site's security strategy, and Balance Dyte has zero
                        command over how your data is gathered, utilized, or
                        generally dealt with.
                    </p>
                </div>
                <div class="single-content">
                    <h3>Refund Policy</h3>
                    <p>
                        We want that you should be happy with any service you
                        purchase from us. At the point when we offer first time
                        limits and free trials, we accomplish this so you can
                        "test or attempt before you purchase." With regards to
                        knowing whether administration is ideal for you, nothing
                        can beat an opportunity to test-drive it for yourself.
                        Due to our "test or attempt it before you get it"
                        approach, we for the most part don't offer discounts for
                        our administrations whenever you have passed the time
                        for testing and chose for go on with the administrations
                        (since you previously attempted it and chose to get it).
                    </p>
                    <p>
                        Assuming that you select auto-refill during checkout,
                        you will be auto-billed toward the start of your next
                        payment cycle. Auto-refill payments are approved
                        exchanges and assuming that you wish to drop your
                        auto-top off, drop before your recharging date. No
                        discounts will be given for payments made on auto-top
                        off.
                    </p>
                    <p>
                        *there is no refund if charge.
                    </p>
                </div>
                <div class="single-content">
                    <h3> Security</h3>
                    <p>
                        To safeguard your personal information, we avoid
                        potential risk and follow industry best practices to
                        ensure it isn't improperly lost, abused, got to,
                        uncovered, adjusted or obliterated.
                    </p>
                </div>
                <div class="single-content">
                    <h3> Cookies</h3>
                    <p>
                        We use cookies to keep up with meeting of your client.
                        It isn't utilized to personally identify you on other
                        websites.
                    </p>

                </div>
                <div class="single-content">
                    <h3> Contact Us</h3>
                    <p>
                        If you have any questions about this Privacy Policy, You
                        can contact us:

                        By email: <a href="mailto:balancedyte@gmail.com">balancedyte@gmail.com</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>