<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Pricing Plan</span>
            <h2>Choose Your Best Plan</h2>
        </div>
        <div class="row justify-content-center pt-45" *ngIf="isLoading">
            <div class="col-lg-4 col-md-6" *ngFor="let count of ['', '', '']">
                <app-skeleton></app-skeleton>
            </div>
        </div>
        <div class="row justify-content-center pt-45" *ngIf="!isLoading && serverErrMsg">
            <div class="col-lg-4 col-md-6">
                <h3 style="color:red"> {{ serverErrMsg }}</h3>
                <a class="default-btn" (click)="ngOnInit()">Click here to Reload</a>
            </div>
        </div>
        
        <div class="row justify-content-center pt-45" *ngIf="!isLoading && !serverErrMsg">
            <div class="col-lg-4 col-md-6" *ngFor="let plan of pricingPlanData">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>{{ plan['planPrice'] | currency:"INR":"symbol":'2.0' }}</h3>
                        <!-- <span>{{ plan['planName'] }}</span> -->
                        <span>{{ plan['planDuration'] }}</span>
                    </div>
                    <ul >
                        <li *ngFor="let inclusion of plan.inclusions"><i class='bx bx-check'></i> {{ inclusion }}</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <!--  [href]="'https://api.whatsapp.com/send?phone=7696492843&text=I have selected diet plan for '+plan['planDuration']"  -->
                        <a [routerLink]="plan['planUrlLink']" class="default-btn">{{ plan['selectPlanBtnName'] }}</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="pricing-shape">
        <img src="assets/images/shape/shape4.png" alt="Pricing Shape">
    </div>
</div>